{% extends 'plantilla.html' %}
{% load static %}
{% block body %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Editar Lugar</h1>
        <form action="/procesarEdicionLugar" method="post" enctype="multipart/form-data" id="frm_nuevo_lugar">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{lugarEditar.id}}">
            <label for="nombre">Nombre(*)</label><br>
            <input class="form-control" type="text" name="nombre" id="nombre" value="{{lugarEditar.nombre}}"><br>

            <label for="direccion">Direccion(*)</label><br>
            <input class="form-control" type="text" name="direccion" id="direccion" value="{{lugarEditar.direccion}}"><br>
            
            <label for="resena">Reseña: deje su comentario(*)</label><br>
            <textarea class="form-control" name="resena" id="resena" rows="5">{{lugarEditar.resena}}</textarea><br>


            <label for="">Horario</label>
            <br>
            <input type="file" name="horario" id="horario" class="form-control">
            {% if lugarEditar.horario %}
                <br>
                <img src="{{ lugarEditar.horario.url }}" alt="Imagen actual" width="120">
            {% endif %}
            <br>
            <br>
            <label for="">Historia(PDF)*</label>
            <br>
            <input type="file" name="historia" id="historia" class="form-control">
            {% if lugarEditar.historia %}
                <br>
                <iframe 
                    src="{{ lugarEditar.historia.url }}#page=1" 
                    width="300" 
                    height="200"
                    style="border: 1px solid #ddd; background: #f8f9fa;"
                    title="Vista previa del documento"
                    type="application/pdf">
                </iframe>
            {% endif %}
            <br>

            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-outline-danger" href="{% url 'iniciolu' %}">Cancelar</a><br><br>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<script>
    $("#frm_nuevo_lugar").validate({
        rules:{
            "nombre":{
                required:true,
                minlength:5,// cuenta caracteres 
                maxlength:20// caracteres maximos
            },
            "direccion":{
                required:true,
                minlength:5,// cuenta caracteres 
                maxlength:20// caracteres maximos

            },
            "resena":{
                required:true,
                minlength:7,// cuenta caracteres 
                maxlength:40// caracteres maximos
            },
            "horario":function() {
                        // Solo es requerido si no hay archivo ya cargado
                        return "{{ lugarEditar.horario|default:'' }}" === "";
            },
            "historia":function() {
                        // Solo es requerido si no hay archivo ya cargado
                        return "{{ lugarEditar.historia|default:'' }}" === "";
            }

        },
        messages:{
            "nombre":{
                required:"Por favor el Campo es obligatorio",
                minlength:"Ingresar minimo 5 caracteres",// cuenta caracteres 
                maxlength:"Ingresar maxima 20 caracteres"// caracteres maximos
            },
            "direccion":{
                required:"Por favor el Campo es obligatorio",
                minlength:"Ingresar minimo 5 caracteres",// cuenta caracteres 
                maxlength:"Ingresar maxima 20 caracteres"// caracteres maximos
            },
            "resena":{
                required:"Por favor el Campo es obligatorio",
                minlength:"Ingrese minimo 7 caracteres",// cuenta caracteres 
                maxlength:"Ingrese maxima 40 caracteres"// caracteres maximos
            },
            "horario":{
                required:"Campo obligatorio por favor agregue una foto"
            },
            "historia":{
                required:"Campo obligatorio por favor ingrese un pdf"
            }
        }
    });
</script>
<script>
    $("#horario").fileinput({
            language: "es",
            allowedFileExtensions: ["png|jpg|jpeg"],
            showCaption: false,
            dropZoneEnabled: true,
            showClose: false
    });
</script>
<script>
    $("#historia").fileinput({
            language: "es",
            allowedFileExtensions: ["pdf"],
            showCaption: false,
            dropZoneEnabled: true,
            showClose: false
    });
</script>
{% endblock %}