{% extends 'plantilla.html' %}
{% load static %}
{% block body %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Nuevo Lugar</h1>
        <form action="guardarLugar" id="frm_nuevo_lugar" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <label for="nombre">Nombre(*)</label><br>
            <input class="form-control" type="text" name="nombre" id="nombre" required><br>

            <label for="direccion">Direccion(*)</label><br>
            <input class="form-control" type="text" name="direccion" id="direccion" required><br>
            
            <label for="resena">Reseña: deje su comentario(*)</label><br>
            <textarea class="form-control" name="resena" id="resena" rows="5"></textarea><br>

            <label for="">Horario</label>
            <input type="file" name="horario" id="horario" class="form-control">

            <br>
            <label for="">Historia(PDF)*</label>
            <input class="form-control" type="file" name="historia" id="historia" >
            <br>

            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-outline-danger" href="{% url 'iniciolu' %}">Cancelar</a><br><br>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<script>
    $("#frm_nuevo_lugar").validate({
        rules:{
            "nombre":{
                required:true,
                minlength:5,// cuenta caracteres 
                maxlength:20// caracteres maximos
            },
            "direccion":{
                required:true,
                minlength:5,// cuenta caracteres 
                maxlength:20// caracteres maximos

            },
            "resena":{
                required:true,
                minlength:7,// cuenta caracteres 
                maxlength:40// caracteres maximos
            },
            "horario":{
                required:true
            },
            "historia":{
                required:true,
            }

        },
        messages:{
            "nombre":{
                required:"Por favor el Campo es obligatorio",
                minlength:"Ingresar minimo 5 caracteres",// cuenta caracteres 
                maxlength:"Ingresar maxima 20 caracteres"// caracteres maximos
            },
            "direccion":{
                required:"Por favor el Campo es obligatorio",
                minlength:"Ingresar minimo 5 caracteres",// cuenta caracteres 
                maxlength:"Ingresar maxima 20 caracteres"// caracteres maximos
            },
            "resena":{
                required:"Por favor el Campo es obligatorio",
                minlength:"Ingrese minimo 7 caracteres",// cuenta caracteres 
                maxlength:"Ingrese maxima 40 caracteres"// caracteres maximos
            },
            "horario":{
                required:"Campo obligatorio por favor agregue una foto"
            },
            "historia":{
                required:"Campo obligatorio por favor ingrese un pdf"
            }
        }
    });
</script>
<script>
    $("#horario").fileinput({
            language: "es",
            allowedFileExtensions: ["png|jpg|jpeg"],
            showCaption: false,
            dropZoneEnabled: true,
            showClose: false
    });
</script>
{% endblock %}