{% extends 'plantilla.html' %}
{% load static %}
{% block body %}
<br>
<h1 class="text-center">Listado de ciudades</h1>

<hr>
<table class="table table-bordered table-striped table-hover ">
    <thead>
        <tr class="table-success text-center">
            <th>ID</th>
            <th>NOMBRE</th>
            <th>CLIMA</th>
            <th>POBLACIÓN</th>
            <th>LUGARES TURÍSTICOS</th>
            <th>FOTO</th>
            <th>FOLLETOS</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        {% for ciudadTemporal in ciudad %}
            <tr>
                <td>{{ciudadTemporal.id}}</td>
                <td>{{ciudadTemporal.nombre}}</td>
                <td>{{ciudadTemporal.clima}}</td>
                <td>{{ciudadTemporal.poblacion}}</td>
                <td>
                    {% for lugar in ciudadTemporal.lugares.all %}
                        {{ lugares.nombre }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        No hay ciudad
                    {% endfor %}
                </td>
                <td>
                    {% if ciudadTemporal.foto %}
                        <img src="{{ciudadTemporal.foto.url}}" alt="" height="80px">
                    {% else %}
                        Ninguna
                    {% endif %}
                </td>
                <td>
                    {% if ciudadTemporal.folleto %}
                        
                        <!-- Ver el PDF directamente en la tabla -->
                        <iframe 
                            src="{{ ciudadTemporal.folleto.url }} " 
                            width="300" 
                            height="250"
                            style="border: 1px solid #ddd; background: #f8f9fa;"
                            title="Vista previa del documento"
                            type="application/pdf">
                        </iframe>
                        <br>
                        <br>
                        <p>{{ ciudadTemporal.folleto.name|slice:"5:" }}</p>
                        <br>
                        <a href="{{ ciudadTemporal.folleto.url }}" download class="btn btn-sm btn-primary">Descargar</a>
                        <a href="{{ ciudadTemporal.folleto.url }}" target="_blank" class="btn btn-sm btn-secondary">Ver en pestaña</a>
                    {% else %}
                        Ninguna
                    {% endif %}
                </td>
                <td>
                    <a href="editarCiudad/{{ciudadTemporal.id}}" class="btn btn-outline-warning">
                        <i class="fa fa-pen"></i>
                    </a>
                    <a href="#" class="btn btn-outline-danger" onclick="confirmarEliminacion('{{ciudadTemporal.id}}')">
                        <i class="fa fa-trash"></i>
                    </a>
                    <script>
                        function confirmarEliminacion(id) {
                            Swal.fire({
                            title: '¿Estás seguro?',
                            text: '¡Esta acción no se puede deshacer!',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Sí, eliminar',
                            cancelButtonText: 'Cancelar'
                            }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = `eliminarCiudad/${id}`;
                            }
                            });
                        }
                    </script>  
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="text-center">
    <a href="nuevaCiudad" class="btn btn-primary " >
        Agregar Ciudad
    </a>
</div>
<br>
<br>
{% endblock %}